@import "//fonts.googleapis.com/css?family=Roboto:400,300)";
@import "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.12.0/css/semantic.min.css";
@import "github.css";
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font: 100% "Roboto", Arial, Helvetica, sans-serif;
  background: #010A0F;
  color: #ccc;
}
.ui.fluid.images,
.ui.fluid.image,
.ui.fluid.images img,
.ui.fluid.image img {
  margin: auto;
  max-width: 960px;
}
.ui.header {
  font-weight: 300;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 1em;
}
.container {
  max-width: 960px;
  margin: auto;
  padding: 1em;
}
.page {
  margin: 5em auto;
}
.page p {
  margin: 0 auto 1em;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.3;
}
.column .example {
  margin: 0 auto 2em;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-bottom: 1px solid #000;
}
.column .example .title {
  padding: 0 20px 10px;
  font-size: 2em;
  font-weight: 300;
}
.column .example .description {
  padding: 0 20px 20px;
  font-size: 1.2em;
}
