meta(http-equiv="content-type", content="text/html; charset=UTF-8")
meta(name="description", content="vibration.js")
meta(name="keywords", content="vibration, vibrate, javascript")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='images/icon/favicon.ico')
//if IE
  link(rel='shortcut icon', href='images/icon/favicon.ico')
link(rel='apple-touch-icon-precomposed', href='images/icon/favicon-152.png')
meta(name='msapplication-TileColor', content='#FFFFFF')
meta(name='msapplication-TileImage', content='favicon-144.png')
link(rel='apple-touch-icon-precomposed', sizes='152x152', href='images/icon/favicon-152.png')
link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/icon/favicon-144.png')
link(rel='apple-touch-icon-precomposed', sizes='120x120', href='images/icon/favicon-120.png')
link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/icon/favicon-114.png')
link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/icon/favicon-72.png')
link(rel='apple-touch-icon-precomposed', href='images/icon/favicon-57.png')