@import "semantic.min.css";
@import "github.css";
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font: 100% Arial, Helvetica, sans-serif;
}
.container {
  max-width: 960px;
  margin: auto;
}
.page {
  margin: 5em auto;
}
.page .example {
  margin: 5em auto;
}
